html, body {
    background: linear-gradient(180deg, #120B3C 0%, #280EC9 100%);
    width:100%;
    height: 100%;
    min-width: 1250px;
    min-height: 650px;
}

@font-face {
    font-family: "AppleSDGothicNeoB00";
    src: url("https://db.onlinewebfonts.com/t/70710ba3196618b630b4a1e532809b1d.eot");
    src: url("https://db.onlinewebfonts.com/t/70710ba3196618b630b4a1e532809b1d.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/70710ba3196618b630b4a1e532809b1d.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/70710ba3196618b630b4a1e532809b1d.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/70710ba3196618b630b4a1e532809b1d.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/70710ba3196618b630b4a1e532809b1d.svg#AppleSDGothicNeoB00")format("svg");
}

*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 6.5px;
}

.wrapper {
    float: left;
    height:100%;
    width: 20%;
    min-width: 250.4px;
    min-height: 651.2px;
}

.wrapper .sidebar{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 2rem 0;
    transition: all 0.5s ease;
    min-width: 250.4px;
    min-height: 651.2px;
}

.wrapper .sidebar .logo {
    margin-top: 2.5rem;
    margin-left: 4rem;
    margin-bottom: 8.7rem;
}

.wrapper .sidebar .logo .logoDesign {
    height: 6rem;
}

.wrapper .sidebar .logo .logoName {
    padding: 1rem;
    height: 4.5rem;
}

.wrapper .sidebar ul {
    padding-left: 10%;
}

.wrapper .sidebar li a{
    display: block;
    padding: 3.4rem 3rem;
    color: #ffffff;
    position: relative;
    width: 100%;
}

.wrapper .sidebar li a .icon{
    color: #ffffff;
    width: 15%;
    display: inline-block;
}

.wrapper .sidebar li a:hover,
.wrapper .sidebar li a.active{
    border-radius: 20px 0px 0px 20px;
    background: #F4F5F9;
    color: #002067;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

/*hover를 같은 설정으로 주고 싶으면 위의 코드보다 하나 위로 위치해야 함*/
.wrapper .sidebar li a.logout{
    border-radius: 20px 0px 0px 20px;
    background: rgba(191, 203, 255, 0.26);
    margin-top: 90%;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

.wrapper .sidebar li a:hover i,
.wrapper .sidebar ul li a.active i{
    color: #002067;
}

.wrapper .sidebar ul li a:hover:before,
.wrapper .sidebar ul li a.active:before{
    display: block;
}

.icon {
    vertical-align: middle;
}

.item {
    vertical-align: middle;
    font-family: 'AppleSDGothicNeoB00';
    font-size: 2.4rem;
    font-style: normal;
    line-height: normal;
    padding-left: 2rem;
}

.main {
    float:left;
    width: 79%;
    height: 97%;
    min-width: 974.062px;
    min-height: 607.272px;
}

.main .mainScreen {
    width: 100%;
    height: 100%;
    background-color: #F5F7FB;
    margin-top: 1%;
    margin-bottom: 1%;
    border-radius: 5px;
    box-shadow: -4px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    min-width: 974.062px;
    min-height: 607.272px;
}

.main .place {
    margin-top: 2rem;
    margin-right: 5.87rem;
    float: right;
    flex-shrink: 0;
    min-width: 177.453px;
    min-height: 31px;
}

.main .place .person {
    vertical-align: middle;
}

.main .place .placeName {
    color: #BAC7E8;
    font-family: 'AppleSDGothicNeoB00';
    font-size: 2.0667rem;
    font-style: normal;
    font-weight: 40rem;
    line-height: normal;
    vertical-align: middle;
}

.main .block {
    width: 86%;
    height: 100%;
    min-width: 827.955px;
    min-height: 486.125px;
    margin-left: 7%;
    padding: 5% 0% 3% 0%;
}

.main .block .box {
    height:100%;
    background-color: #ffffff;
}

.table {
    border-collapse: collapse;
    text-align: center;
    line-height: 1.5;
    margin: auto;
    width: 90%;
}

.table thead th {
    padding: 2.5% 0.5% 0.5% 0.5%;
    font-weight: bold;
    font-family: 'AppleSDGothicNeoB00';
    border-bottom: 2px solid #036;
}

.table td {
    padding: 0.5%;
    vertical-align: top;
    border-bottom: 2px solid #eeeeee;
    font-family: 'AppleSDGothicNeoB00';
}

/*   팝업 임시 버튼 스타일  */
.btn-box .btn-open {
    display: block;
    width: 200px;
    height: 50px;
    margin: 80px auto 0;
    line-height: 50px;
    background: #333;
}

/* 팝업 스타일 */
.modal-bg {
    display:none;
    width:100%;
    height:100%;
    position:fixed;
    top:0;
    left:0;
    right:0;
    background: rgba(0, 0, 0, 0.6);
    z-index:999;
}

.modal-wrap {
    display:none;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:700px;
    height:500px;
    z-index:1000;
    border-radius: 16px;
    border: 2.725px solid #004FFF;
    background: #FFF;
    /*
    border-radius: 1px;
    border-color: #004FFF;*/
}

.modal-close {
    float: right;
    margin: 15px;
}

.closeBtn {
    width: 15px;
}

.pop {
    margin:8%;
    width:84%;
}

.pop tr {
    font-family: 'AppleSDGothicNeoB00';
}

.pop td {
    font-family: 'AppleSDGothicNeoB00';
    padding: 8px;
    font-size: 15px;
}

.box {
    background-color: #F1F1F1;
    width:100%;
    height:200px;
}